# * Ignore virtual environment
.venv/

# * Ignore code editor settings
.vscode/

# * Python-related
*__pycache__/

# * B2 docs explanation
Useful_commands.md

# * B2 database service output
emails_log.txt

# * Ignore tests
tests/